html {
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
}
body{
    background-color: #f3f3f3;
}
*{
    font-family: 'Open Sans', sans-serif;
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
}
.btn-custom{
    height: 42px;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.btn-custom:hover{
    border: 1px solid #82b440;
    background-color: #82b440;
    color: white;
}
.p-title-part{
    font-weight: 700;
}
.text-muted{
    font-size: 12px!important;
    margin: 0!important;
}
/* menu */
#div-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 150px;
    background-color: white!important;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    border-bottom: 1px solid #eee;
    /* border-color: transparent; */
}
.div-menu-show{
    height: 70px!important;
    opacity: 1!important;
    visibility: visible!important;
}
.a-menu-item{
    font-size: 13px;
    transition: 0.3s;
    color: black!important;
}
.a-menu-item:hover{
    color: #82b440!important;
}
.a-menu-item-active{
    color: #82b440;
}
/* end menu */


/* home */
#div-home{
    width: 100%;
    height: 100vh;
    -webkit-background: url(../../images/image1.jpg) no-repeat center center;
    background: url(../../images/image1.jpg) no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.div-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}
#div-home-body{
    position: absolute;
    top: 33.33%;
    left: 0;
    width: 100%;
    height: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}
#div-home-body>div:first-child, #div-home-body>div:nth-child(3){
    font-size: 1.5rem;
    line-height: 32px;
}
/* #div-home-body>div:nth-child(3)::after{
    content: " ";
    height: 100%;
    border: 1px solid white;
    position: relative;
    top: 0;
    right: 0;
    margin-left: 5px;
    animation: cursorText 1.5s steps(5, start) infinite;
} */
#div-home-body>div:nth-child(2){
    font-weight: 800;
    font-size: 4.5rem;    
}
#div-home-body>div:last-child>a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: 0.3s;
    cursor: pointer;
}
#div-home-body>div:last-child>a:hover{
    border: 1px solid #82b440;
    background-color: #82b440;
}
#div-home-body a{
    color: white;
}
#div-home-bottom{
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div-home-bottom>a{
    position: relative;
    width: 26px;
    height: 42px;
    border: 2px solid white;
    border-radius: 26px;
    transition: 0.3s;
}
#div-home-bottom>a::after{
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 10px;
    content: '';
    transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
    opacity: 1;
    border-radius: 100%;
    background-color: white;
    animation: scroll 1.5s cubic-bezier(.68,-.55,.265,1.55) infinite;
    -webkit-animation: scroll 1.5s cubic-bezier(.68,-.55,.265,1.55) infinite;
}
#div-home-bottom>a:hover{
    border: 2px solid #82b440;
}
/* end home */

/* about */
#div-about{
    padding-bottom: 100px;
}
#p-about-intromyseft{
    margin-top: 100px;
    font-weight: 700;
}
#div-about-avatar{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div-about-avatar>img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.p-profile{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
#div-about-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-download-cv{
    width: 200px;
}
/* end about */

/* work with me */
#div-work-with-me{
    height: 245px;
    background: url(../../images/parallax-3.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.div-work-with-me-content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.div-work-with-me-content>span{
    font-size: 30px;
    color: white;
}
#btn-call-me{
    width: 115px;
    margin-left: 10px;
    border: 1px solid white;
    color: white;
}
#btn-call-me:hover{
    border: 1px solid #82b440;
}
/* end work with me */

/* edu */
#div-education{
    padding-top: 100px;
}
.div-timeline{
    height: auto;
    position: relative;
}
.div-timeline::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 100%;
    background-color: #ddd;
}
.div-timeline-block{
    position: relative;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.div-timeline-icon{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -30px;
    background-color: #82b440;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-timeline-icon>.icon{
    color: white;
    font-size: 24px;
}
.div-block-content{
    width: 100%;
    height: auto;
}
.div-block-content-body{
    position: relative;
    width: 45%;
    background-color: white;
    padding: 22px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #ddd;
}
.div-block-content-body::before{
    position: absolute;
    top: 16px;
    right: 100%;
    width: 0;
    height: 0;
    content: '';
    border: 7px solid transparent;
    border-right: 7px solid #fff;
}
.div-block-content-body h2{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.div-block-content-body span{
    font-size: 14px;
}
.div-block-content-body p{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
}
.div-block-content-time{
    position: absolute;
    top: 20px;
    right: 0;
    width: 45%;
}
.div-block-content-body>.p-time{
    margin-bottom: 0;
    margin-top: 15px!important;
}
/* end edu */


/* animation */
@keyframes cursorText{
    to{
        visibility: hidden;
    }
}
@keyframes scroll {
    0%{
        top: 5px;
        width: 4px;
        height: 4px;
        transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
        opacity: 1;
    }
    1% , 20% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
        transform: translateY(0) scaleY(1) scaleX(1) translateZ(0)
    }
    50%{
        height: 5px!important;
    }
    90% {
        -webkit-transform: translateY(20 px) scaleY(2.5) scaleX(.5) translateZ(0);
        transform: translateY(20 px) scaleY(2.5) scaleX(.5) translateZ(0);
        opacity: .01;
        top: 60%;
        height: 7px!important;
    }
    to{
        -webkit-transform: translateY(20 px) scaleY(2.5) scaleX(.5) translateZ(0);
        transform: translateY(20 px) scaleY(2.5) scaleX(.5) translateZ(0);
        opacity: .01;
        top: 60%;
        height: 10px!important;
    }
}
/* end animation */





/* responsive */
@media (min-width : 992px ){
    .div-block-content-body::before{
        top: 24px;
        left: 100%;
        border-color: transparent transparent transparent #fff;
    }
    .div-block-content-body>.p-time{
        display: none;
    }
    .div-timeline .row:nth-child(even){
        margin-bottom: 30px;
    }
    .div-timeline .row:nth-child(even) .div-timeline-block .div-block-content .div-block-content-body{
        float: right;
    }
    .div-timeline .row:nth-child(even) .div-timeline-block .div-block-content .div-block-content-time{
        top: 20px;
        left: 0;
        text-align: right;
    }
    .div-timeline .row:nth-child(even) .div-timeline-block .div-block-content .div-block-content-body::before{
        top: 24px;
        right: 100%;
        left: auto;
        border-color: transparent #fff transparent transparent;
    }
}
@media (max-width : 991.98px ){
    *{
        font-size: 0.9rem;
    }
    #div-menu{
        height: auto!important;
    }
    #div-home-body>div:first-child, #div-home-body>div:nth-child(3){
        font-size: 1.3rem;
    }
    #div-home-body>div:nth-child(2){
        font-size: 3rem;    
    }
    .p-title-part{
        font-size: 2rem;
    }
    .div-work-with-me-content>span{
        font-size: 25px;
    }
    .div-timeline::before{
        left: 32px;
        margin-left: 0;
    }
    .div-timeline-icon{
        width: 40px;
        height: 40px;
        left: 0;
        margin-left: 0;
    }
    .div-block-content-body{
        width: 85%;
        left: 10%;
    }
    .div-block-content-time{
        display: none;
    }
    .div-block-content-body>.p-time{
        display: block;
    }
}
@media (max-width : 767.98px ){
    #div-about-skill{
        margin-top: 20px;
    }
}
@media (max-width : 575.98px ){
    #div-home-body>div:first-child, #div-home-body>div:nth-child(3){
        font-size: 1rem;
    }
    #div-home-body>div:nth-child(2){
        font-size: 2rem;    
    }
    .p-title-part{
        font-size: 1.5rem;
    }
    .div-work-with-me-content{
        flex-direction: column;
    }
    .div-work-with-me-content>span{
        font-size: 16px;
    }
    #btn-call-me{
        margin-top: 5px;
    }
    .div-block-content-body{
        left: 15%;
    }
    #div-home{
        background: #acf849;
    }
}